# old repo files
files/

# regular py-vscode trash
**/env/
**/.env
**/__pycache__
.vscode/

# configurations files
config.json
fields.json
config-test.json

# playground
acc_py/tmp.py

# exceptions
!acc_py/tests/files